/* ===============================
        this main basic elements  
====================================*/

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    background-color: rgb(250,250,250);
    width: 100%;
    /* line-height: 1.5;
    text-align: center; */
}

h1 {
    color: #4A4A4A;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.875rem;    /* 30px/16px */
}

h2 {
    text-transform: uppercase;
    padding-bottom: 5%;
}

h3 {
    text-transform: capitalize;
}

h2,
h3 {
    color: #4A4A4A;
    font-size: 1.4375em; /* 23px/16px */
}

p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #7F7F94;
    font-size: 1rem;
}

p {
    line-height: 1.7;
    margin: 7.486% 6.189%;
}

/* ===============================
        My container elements 
====================================*/

.name,
.main-nav,
.main-nav li {
    display: inline;
}

.main-header,
.main-footer,
.about,
.primary-content,
.secondary-content {
    text-align: center;
}

.main-header,
.primary-content,
.secondary-content {
    padding-top: 5.897%;
}

.main-footer {
    margin: 5% 2%;
}

.profile-img {
    width: 100%;
    height: auto;
    padding: 5% 15% 0;
}

.primary-content img {
    width: 100%;
    height: auto;
    padding: 1% 4%;
}

ul a {
    text-transform: uppercase;
    text-decoration: none;
}

ul li {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    list-style: none;
    font-weight: bold;
    font-size: 1.1875rem;
}

.primary-content {
    background-color: white;
}

.t-border {
    border-bottom: 1px lightgray solid;
    padding-bottom: 5%;
    width: 95%;
    margin: auto;
}

#footer-nav a {
    text-transform: uppercase;
    background-color: rgb(250, 250, 250);
    text-decoration: none;
}

#footer-nav li {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.3375em;
    list-style: none;
    font-weight: bold;
}

.clear:after {
    content: "";
    display: table;
    clear: both;
}


/* ===============================
       This phone few
====================================*/
@media (min-width: 320px) and (max-width: 568px) {

    .main-header ul {
        padding: 0.897%;
        width: 0 auto;
    }
    
    .main-header a {
        display: block;
        background: white;
        padding: 3%;
        margin: 1.5% 3.5%;
    }

    .footer-name,
    .bkt,
    .bkt a {
        font-weight: bold;
        /* display: inline-block; */
        text-decoration: none;
    }

    .footer-name {
       margin-right: 30%;
       width: auto;
    }

    /* .bkt a {
        margin-left: 25%;
    } */

    /* .bkt a {
        text-decoration: none;
    } */
    
    /* .main-footer footer-name {
        float: right;
    }

    .main-footer bkt {
        float: left;
    } */

    .footer-nav {
        display: none;
        text-transform: uppercase;
        font-weight: bold;
    }
    
}


/* /* ===============================
       This the tablet view 
====================================*/



/* @media (min-width: 569px) and (max-width: 768px) {

} */
